{% extends 'ask/base.html' %}
      
{% block content %}
  
	<h1 class="collumn-header">Sign Up</h1>
	<form class="form-horizontal">
			<fieldset style=" margin-left: -300; ">

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="login-input">Login</label>  
			  <div class="col-md-4">
			  <input id="login-input" name="login-input" type="text" placeholder="Login" maxlength="25" class="form-control input-md" required="">
			    
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group has-error">
			  <label class="col-md-4 control-label" for="email-input">Email</label>  
			  <div class="col-md-4">
			  <input id="email-input" name="email-input" type="text" placeholder="example.com" maxlength="25" class="form-control input-md has-error" required="">
			  <span id="helpBlock2" class="help-block">The Email must have @ symbol</span>
			    
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="username-input">User Name</label>  
			  <div class="col-md-4">
			  <input id="username-input" name="username-input" type="text" maxlength="25" placeholder="Your nickname" class="form-control input-md" required="">
			    
			  </div>
			</div>

			<!-- Password input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="password-input">Password</label>
			  <div class="col-md-4">
			    <input id="password-input" name="password-input" type="password" maxlength="25" placeholder="Kw2*2120Kd!" class="form-control input-md" required="">
			    
			  </div>
			</div>

			<!-- Password input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="reppassword-input">Repeat Password</label>
			  <div class="col-md-4">
			    <input id="reppassword-input" name="reppassword-input" maxlength="25" type="password" placeholder="once again" class="form-control input-md" required="">
			    
			  </div>
			</div>

			<!-- File Button --> 
			<div class="form-group">
			  <label class="col-md-4 control-label" for="upload-avatar-btn">Upload Avatar</label>
			  <div class="col-md-4">
			    <input id="upload-avatar-btn" name="upload-avatar-btn" class="input-file" style=" margin-top: 9px; " type="file">
			  </div>
			</div>

			<!-- Button -->
			<div class="form-group">
            <label class="col-md-4 control-label" for="ask-button"></label>
            <div class="col-md-4">
              <button type="button" class="btn btn-success">Sign up free!</button>
              <button type="button" class="btn btn-default">Login</button>
            </div>
          	</div>

			</fieldset>
			</form>
{% endblock content %}
